
<form method="post" action="/group/create">
    <fieldset>
        <legend>New group</legend>

        <label for="name">Name</label>
        <input name="name" type="text" placeholder="Name">

        <label for="slug">Group URL name</label>
        <input name="slug" type="text" placeholder="Group URL name">
        <p>Your group will be accessible at www.setmatch.es/group/<em>yourgroupurl</em></p>

        <label for="description">Description</label>
        <textarea name="description" placeholder="Description"></textarea>
        
        <input class="button" type="submit" value="Create new group">
    </fieldset>
</form>
