
<form method="post" action="/reset">
	<fieldset>
		<legend>Forgot your password? No worries.</legend>
		<p>We'll send you an email with a link to reset it.</p>
        <input name="email" type="text" placeholder="Email address">
        <input class="button" type="submit" value="Reset password">
	</fieldset>
</form>