Group name:
<%- group.get("name") %>
<br />

Group URL:
<%- group.get("urlName") %>
<br />

Description:
<%- group.get("description") %>

<p><a href="/group/<%- group.get("urlName") %>/edit">Edit group info</a></p>