Group name:
<%- group.get("name") %>
<br />

Group URL:
<%- group.get("urlName") %>
<br />

Description:
<%- group.get("description") %>

<br />
This group is <% if (group.get("secretive") != "y") { %> not<% } %> secretive.

<h3>Members</h3>



<p><a href="/group/<%- group.get("urlName") %>/edit">Edit group info</a></p>