
<% if (typeof(error) !== 'undefined') { %>
	<p><%= error %></p>
	<p><%= errorParseMessage %></p>
<% } %>
<% if (typeof(message) !== 'undefined') { %>
	<p><%= message %></p>
<% } %>
<!-- TODO: Prepopulate email address if coming from an invite -->
<form method="post" action="/signup">
	<fieldset>
		<legend>Sign up</legend>
        <input name="fname" type="text" placeholder="First name">
        <input name="lname" type="text" placeholder="Last name">
        <input name="email" type="text" placeholder="Email address">
        <input name="password" type="password" placeholder="Password">
        <input class="button" type="submit" value="Sign up">
	</fieldset>
</form>

<form method="post" action="/login">
	<fieldset>
		<legend>Log in</legend>
        <input name="email" type="text" placeholder="Email address">
        <input name="password" type="password" placeholder="Password">
        <input class="button" type="submit" value="Login">
	</fieldset>
</form>
<p><a href="/forgot">Forgot password?</a></p>
<!-- <p><a href="/fb">Log in with Facebook</a></p> -->