<!DOCTYPE html>
<html>
  	<head>
    	<title>SetMatch</title>
	    <link rel="shortcut icon" href="/favicon.png" />
  	</head>
  	<body>
  		<header>
  			<h1>SetMatch</h1>
  		</header>

		<%- body %>

		<footer>
			<p>&copy; <%= copyrightDate() %></p>
		</footer>

		<script src="//code.jquery.com/jquery-1.10.1.min.js"></script>
  	</body>
</html>
