<!DOCTYPE html>
<html>
  	<head>
    	<title>SetMatch</title>
	    <link rel="shortcut icon" href="/favicon.png" />
  	</head>
  	<body>
  		<h1>SetMatch</h1>
		<%- body %>

		<script src="//code.jquery.com/jquery-1.10.1.min.js"></script>
  	</body>
</html>
