
<% if (typeof(error) !== 'undefined') { %>
	<p><%= error %></p>
	<p><%= errorParseMessage %></p>
<% } %>
<% if (typeof(message) !== 'undefined') { %>
	<p><%= message %></p>
<% } %>
<p><a href="/profile/edit">Edit your profile</a></p>
<p><a href="/group/new">Create a new group</a></p>