
<% if (typeof(error) !== 'undefined') { %>
	<p><%= error %></p>
	<p><%= errorParseMessage %></p>
<% } %>
<% if (typeof(message) !== 'undefined') { %>
	<p><%= message %></p>
<% } %>
<h3>You have been invited to join the following groups</h3>
<ul>
		<li>Group name <a href="#">Join</a></li>
</ul>
<p><a href="/profile/edit">Edit your profile</a></p>
<p><a href="/group/new">Create a new group</a></p>